
# ignore binary files
# ----------------------------
build
cmake-build-debug
.idea

./dependency/GLFW/build
./dependency/spdlog/build
./dependency/assimp/build
./dependency/imgui

!./dependency/glm
!./dependency/GLEW/build
    ./dependency/GLEW/build/bin
    ./dependency/GLEW/build/CMakeFiles
    ./dependency/GLEW/build/lib
    ./dependency/GLEW/build/cmake_install.cmake
    ./dependency/GLEW/build/cmake_uninstall.cmake
    ./dependency/GLEW/build/CMakeCache.txt
    ./dependency/GLEW/build/glew.pc
    ./dependency/GLEW/build/Makefile

